<ion-header class="bg-thime">
  <toolbar></toolbar>
  <ion-list padding-left>
    <ion-item padding-left padding-right>
      <ion-avatar item-start text-center>
          <img src='./assets/imgs/avataaars.png'/>
          <ion-badge class="camera"><small>
            <ion-icon name="ios-camera" color="light"></ion-icon>
          </small></ion-badge>
        
      </ion-avatar>
      <h2 class="">Ramon Figuera
        <small ion-button round (click)="EditProfile()" *ngIf="!edit"> Editar</small>
        <small ion-button round (click)="SaveProfile()" *ngIf="edit"> Guardar</small>
      </h2>
      <p class="text-dark">+58 424 954 3868
      </p>
    </ion-item>
  </ion-list>
  <ion-toolbar no-border-top class="tab-bar">
    <ion-segment>
      <div style="color:white;font-weight: bold;">
        Datos Personales
      </div>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <div class="profile-section">
      <ion-list>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input type="text" value="Ramon Figuera" [disabled]="!edit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" value="refm.130995@gmail.com" [disabled]="!edit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Telefono</ion-label>
          <ion-input type="text" value="+58 424 954 3868" [disabled]="!edit"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Genero</ion-label>
          <ion-input type="text" value="Hombre" [disabled]="!edit"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Fecha de nacimiento</ion-label>
          <ion-input type="text" value="23 Sep, 1995" [disabled]="!edit"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Cedula de Identidad</ion-label>
            <ion-input type="text" value="V-26.138.564" [disabled]="!edit"></ion-input>
          </ion-item>
      </ion-list>
    </div>
<!-- 
    <div *ngSwitchCase="'card'" class="card-section bg-light">
      <ion-card>
        <ion-card-content>
          <div class="card-row">XXXX XXXX XXXX 5887
            <img src="assets/imgs/visa.png">
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="card-row">XXXX XXXX XXXX 5887
            <img src="assets/imgs/master-card.png">
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <div class="form" padding-left padding-right>
          <p padding-bottom margin-bottom>
            <ion-icon name="ios-add-circle-outline"></ion-icon>{{"add_n_card" }} <span>{{"save" }}</span></p>
          <ion-list>
            <ion-item>
              <ion-label>{{"card_type" }}</ion-label>
              <ion-input type="text" text-right value="Visa Express"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{"card_number" }}</ion-label>
              <ion-input type="text" text-right value="1234-1234-1234-1234"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{"card_name" }}</ion-label>
              <ion-input type="text" text-right value="Ramon Figuera"></ion-input>
            </ion-item>
            <div class="date-cvc-row">
              <div class="date">
                <ion-item>
                  <ion-label>Expiry Date</ion-label>
                  <ion-input type="text" text-right value="10/23"></ion-input>
                </ion-item>
              </div>
              <div class="cvc">
                <ion-item>
                  <ion-label>CVV</ion-label>
                  <ion-input type="text" text-right value="234"></ion-input>
                </ion-item>
              </div>
            </div>
            <ion-item class="border-none">
              <ion-label text-right> {{"save_card_details" }}</ion-label>
              <ion-toggle checked="false"></ion-toggle>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
    </div>

    <div *ngSwitchCase="'address'" class="address-section bg-light">
      <ion-card>
        <ion-card-content>
          <div class="addres-detail">
            <h3> 
              <ion-icon name="ios-pin-outline" class="icon-position"> </ion-icon>
              Ramon Figuera 
              <span>{{"change" }}
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </span>
            </h3>
            <p>DE234 Mapleridge Drive Plano,<br> Texas 743A US.</p>
            <p>+91 908765432</p>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <div class="form" padding-left padding-right>
          <p padding-bottom margin-bottom>
            <ion-icon name="ios-add-circle-outline"></ion-icon>{{"add_n_card" }}<span>{{"save" }}</span>
          </p>
          <ion-list>
            <ion-item>
              <ion-label>{{"pin" }}</ion-label>
              <ion-input type="text" text-right value="110092"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{"address" }}</ion-label>
              <ion-input type="text" text-right value="DE234 Mapleridge Drive Plano,"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{"phone" }}</ion-label>
              <ion-input type="text" text-right value="+91 908 765 4321"></ion-input>
            </ion-item>
            <div class="date-cvc-row">
              <div class="city">
                <ion-item>
                  <ion-label>{{"city" }}</ion-label>
                  <ion-input type="text" text-right value="Delhi"></ion-input>
                </ion-item>
              </div>
              <div class="State">
                <ion-item>
                  <ion-label>{{"state" }}</ion-label>
                  <ion-input type="text" text-right value="Delhi"></ion-input>
                </ion-item>
              </div>
            </div>
            <ion-item class="border-none">
              <ion-label text-right>asdasdasd</ion-label>
              <ion-toggle checked="true"></ion-toggle>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
    </div> -->
  </div>
</ion-content>
